.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background: var(--primary-color);
    position: sticky;
    top: 0;
    left: 0;
    margin-left: 50px;
  }
  
  .navbar_logo {
    font-size: 40px;
    font-weight: bold;
    color: black;
  }

  .navbar_description {
    font-size: 20px;
    font-weight: normal;
    color: black;
  }
  
  .navbar_cart {
    background: #fff;
    width: 18px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: 150px;
  }
  
  .navbar_cart:hover {
    opacity: 0.75;
  }
  
  .cart_title {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  
  .cart_image {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
  
  .cart_counter {
    height: 40px;
    width: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    color: var(--dark-color);
    background: var(--light-color);
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }