.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    background: rgb(126, 163, 111);
    position: sticky;
    top: 0;
    left: 0;
    margin-left: 50px;
  }
  
  .navbar_logo {
    font-size: 25px;
    font-weight: bold;
    color: black;
  }

  .navbar_description {
    font-size: 18px;
    font-weight: normal;
    color: black;
  }
  
  .navbar_cart {
    background: #fff;
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    margin-right: 50px;
  }
/*   
  .navbar_cart:hover {
    opacity: 0.75;
  } */
  
  .cart_title {
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
  
  .cart_image {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  .navbar_farm_icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  .navbar_usmc_icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }

  .navbar_usa_icon {
    width: 25px;
    height: 25px;
    object-fit: contain;
  }
  
  .cart_counter {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }